.nav {
    width: 100%;
    background-color: rgb(94, 122, 113);
}

.nav-link {
    color: lightblue;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(214, 207, 172);
    font-weight: bolder;
}